<header class="footer0">
    © Parag Vadher. Most Rights Reserved. 
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile/<%= locals.user.id %>">Profile</a>
        </li>
    </ul>
</header>