<header class="footer0">
    © Parag Vadher. Most Rights Reserved. 
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%if(locals.user){%>
                <a href="/users/profile/<%= locals.user.id %>">Profile</a>
            <%}else{%>
                <a href="/users/login">Login</a>
            <%}%>
        </li>
    </ul>
</header>