<header class="header0">
    <a href="/"><img src="/images/logo.png" alt="Rescode" width="200" height="40"></a>
    <ul>
        <% if(locals.user){ %>
            <li><%= user.name %></li>
            <li>
                <a href="/users/logout">Log Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/signup">Sign Up</a>
            </li>
            <li>
                <a href="/users/login">Login</a>
            </li>
        <% } %>
    </ul>
</header>