<!-- login page to authenticate -->
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h2>Login</h2>
        <form action="authenticate_user">
            <!-- <label for="email">Email: </label> -->
            <input type="text" required placeholder="Email">

            <!-- <label for="password">Password: </label> -->
            <input type="password" minlength="8" required placeholder="Password">

            <input type="submit" value="Log in">
        </form>
    </body>
</html>