<div class='email'>
    <img src="https://i.ibb.co/26WfDY2/image.png" alt="Rescode">
    <p>Hello, <%= comment.user.name %> </p>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> was posted on rescode.</p>
    <br>
    <p>Thank you!</p>
</div>