body {
  background-color: lightblue; }

#dp {
  align-items: center;
  width: 100px;
  max-height: 300px;
  max-width: 300px;
  border-style: dashed;
  border-width: 2px;
  border-color: #0086c4;
  border-radius: 150px; }
